DATABASE_URL=
JWT_SECRET=eu91hdj1ks21
BCRYPT_COST=12
JWT_EXPIRES_SEC=3600
AZURE_STORAGE_CONNECTION_STRING=tu_connection_string
AZURE_STORAGE_CONTAINER=imagenes
ACS_CONNECTION_STRING=se_obtiene_de_azure
ACS_SENDER_ADDRESS=se_obtiene_de_azure
FRONTEND_URLS=http://localhost:4200